<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-id-infsftp" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>cordova-plugin-infsftp</name><js-module name="cordova-plugin-infsftp" src="www/cordova-plugin-infsftp.js"><clobbers target="cordova.plugins.cordova-plugin-infsftp" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="cordova-plugin-infsftp"><param name="ios-package" value="cordova-plugin-infsftp" /></feature></config-file><source-file src="src/ios/cordova-plugin-infsftp.m" /></platform></plugin>